.section {
    display:flex;
    justify-content: space-between;
    gap: 6px;
}
.list-container {
    border:1px solid blue;
    width:30%;
}
.map-container {
    border:1px solid red;
    width: 70%;
}
.item-box {
    display: flex;
    max-height: 50px;
    height: 100%;
    align-items: center;
    gap: 4px;
}
p {
    margin: 0;
}

.pagination {
    width: fit-content;
    margin:0 auto;
    margin-top: 30px;
}

.pagination {
    display: flex;
    justify-content: center;
    padding: 20px;
    list-style: none;
  }
.page-link {
    padding: 8px 12px;
    color: #dc3545; 
    border: none !important;
    border-radius: 4px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    font-weight: bold;
    font-size: 1.2rem !important;
}

.page-link:hover {
    background-color: #f8d7da;
}

.page-item.active .page-link {
    background-color: #dc3545;
    color: white;
    border-color: #dc3545;
    border:2px solid red !important;
}

.page-item.disabled .page-link {
    color: #ddd;
}

@media screen and (max-width:900px) {
   .section{
    flex-wrap: wrap;
   } 
   .list-container,
   .map-container {
    width: 100%;
   }
}

